{{- if and .Values.istio.enabled .Values.istio.gateway.enabled }}
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name:  {{ .Release.Name }}
spec:
  selector:
{{ toYaml .Values.istio.gateway.selector | indent 4 }}
  servers:
{{ toYaml .Values.istio.gateway.servers | indent 4 }}
{{- end }}
